<section class="area-standard-teaser bg-light text-center">
    {% set block = pimcore_block('product-renderlet', {'manual' : true}).start() %}
        <div class="container">
            <div class="row">
                {% for b in block.iterator %}
                    <div class="col-md-4">
                        {% do block.blockConstruct() %}
                        {% do block.blockStart() %}
                            {{
                            pimcore_renderlet('product' ~ b, {
                                'controller': 'App\\Controller\\DefaultController::productAction',
                                'height': 400,
                                'title': 'Drag a product object here'
                            })
                            }}
                        {% do block.blockEnd() %}
                        {% do block.blockDestruct() %}
                    </div>
                {% endfor %}
            </div>
        </div>

</section>
