<section id="renderlet-gallery">
    {{
    pimcore_renderlet('myGallery', {
        "controller" : "App\\Controller\\DefaultController::myGalleryAction",
        "title" : "Drag an asset folder here to get a gallery",
        "height" : 400
    })
    }}
</section>